#
# main.cf entry:
# virtual_alias_maps = pgsql:/path/to/this/file.cf
#

#
# The hosts that Postfix will try to connect to
hosts = localhost

# The user name and password to log into the pgsql server.
user = {{ postfix_db_user }}
password = {{ postfix_db_password }}

# The database name on the servers.
dbname = {{ postfix_db_name }}

query =
    SELECT array_to_string("mail_forward"."destinations", ' ')
    FROM "mail_forward"
    WHERE ("mail_forward"."active" = True AND CONCAT("mail_forward"."user_part", CONCAT('@', "mail_forward"."domain_part")) = '%s')
